[user]
  name = Taylor Kearns
  email = tkearns@gmail.com
[core]
  autocrlf = false
  safecrlf = true
  excludesfile = /Users/taylorkearns/.gitignore
  editor = nvim -f
[color]
  ui = true
[push]
  default = upstream
[alias]
  chp = cherry-pick
  lol = log --pretty='format:%h %cs%Cblue%d%Creset %s' -40
  pul = pull
  st = status
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = true
