*.build
*.crt
*.key
*.log.*
*.swp
.DS_Store
.env
.repl_history
.rspec
.ruby-version
.rvmrc
Session.vim
bin/
build-iPhoneSimulator/
bundler_stubs/
database.yml
dump.rdb
tags
zeus.json
vertical_specs.sh
